[submodule "third-party-GUI/Sheas-Nginx"]
	path = third-party-GUI/Sheas-Nginx
	url = https://github.com/SpaceTimee/Sheas-Nginx.git
	branch = master
[submodule "third-party-GUI/Racpast-GUI"]
	path = third-party-GUI/Racpast-GUI
	url = https://github.com/racpast/SNIBypassGUI.git
